name: CI

on:
  push:
    branches:
      - main

jobs:
  CI:
    name: Continuos Integration
    runs-on: ubunto-latest

    steps: 
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
        
      - name: Install dependencies (lockfile respected)
        run: npm ci

      - name: Run tests
        run: npm test